In [102]:
import pandas as pd
import numpy as np
import logging

# Load the data file
file_path = 'C:/Users/chris/switchdrive/SyncVM/CIP/hslu-cip/data/clean_data/scraped_shares_extendedESG_data2.csv'
data = pd.read_csv(file_path, delimiter=';')

# Display the first few rows of the dataframe and the general information
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 29 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Name                                                                 187 non-null    object
 1   Currency                                                             181 non-null    object
 2   Market Cap                                                           181 non-null    object
 3   CDP                                                                  19 non-null     object
 4   FTSE4Good                                                            4 non-null      object
 5   MSCI ESG Ratings                                                     4 non-null      object
 6   Moody's ESG Solution                                                 2 non-null      object
 7   Sustainalytics                                                       27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)            119 non-null    object
 9   Share of women in total workforce                                    157 non-null    object
 10  Rate of resignation                                                  57 non-null     object
 11  Type                                                                 187 non-null    object
 12  Sub type                                                             187 non-null    object
 13  Market                                                               187 non-null    object
 14  ISIN Code                                                            187 non-null    object
 15  Industry                                                             187 non-null    object
 16  SuperSector                                                          187 non-null    object
 17  Sector                                                               187 non-null    object
 18  Subsector                                                            187 non-null    object
 19  Share of women in management bodies                                  135 non-null    object
 20  Gender pay gap                                                       59 non-null     object
 21  Professional equality index                                          28 non-null     object
 22  Rate of employees with disabilities                                  60 non-null     object
 23  Average training hours per employee                                  121 non-null    object
 24  Board gender diversity (female board members / total board members)  168 non-null    object
 25  Number of female board members                                       168 non-null    object
 26  Number of board members                                              168 non-null    object
 27  Total energy consumption                                             140 non-null    object
 28   Ratio of non-recycledÂ waste                                         0 non-null      float64
dtypes: float64(1), object(28)
memory usage: 43.6+ KB

In [103]:
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption,Ratio of non-recycledÂ waste
0,ACCOR,EUR,9.656B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh",NaN
1,AIR LIQUIDE,EUR,98.258B,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh,NaN
2,AIRBUS SE,EUR,127.257B,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh",NaN
3,ARCELORMITTAL SA,EUR,20.331B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule",NaN
4,AXA,EUR,77.141B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,TELECOM ITALIA,EUR,3.357B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh",NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,TERNA,EUR,14.605B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule",NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,UNIPOL,EUR,5.833B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule",NaN

In [104]:
# Check for columns that are completely empty and drop them
data_not_empty_columns = data.dropna(how='all', axis=1)

# Show the columns removed (if any)
data_not_empty_columns.columns.difference(data.columns)
data=data_not_empty_columns

# Updated DataFrame info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 28 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Name                                                                 187 non-null    object
 1   Currency                                                             181 non-null    object
 2   Market Cap                                                           181 non-null    object
 3   CDP                                                                  19 non-null     object
 4   FTSE4Good                                                            4 non-null      object
 5   MSCI ESG Ratings                                                     4 non-null      object
 6   Moody's ESG Solution                                                 2 non-null      object
 7   Sustainalytics                                                       27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)            119 non-null    object
 9   Share of women in total workforce                                    157 non-null    object
 10  Rate of resignation                                                  57 non-null     object
 11  Type                                                                 187 non-null    object
 12  Sub type                                                             187 non-null    object
 13  Market                                                               187 non-null    object
 14  ISIN Code                                                            187 non-null    object
 15  Industry                                                             187 non-null    object
 16  SuperSector                                                          187 non-null    object
 17  Sector                                                               187 non-null    object
 18  Subsector                                                            187 non-null    object
 19  Share of women in management bodies                                  135 non-null    object
 20  Gender pay gap                                                       59 non-null     object
 21  Professional equality index                                          28 non-null     object
 22  Rate of employees with disabilities                                  60 non-null     object
 23  Average training hours per employee                                  121 non-null    object
 24  Board gender diversity (female board members / total board members)  168 non-null    object
 25  Number of female board members                                       168 non-null    object
 26  Number of board members                                              168 non-null    object
 27  Total energy consumption                                             140 non-null    object
dtypes: object(28)
memory usage: 42.1+ KB

In [105]:
# Count rows where all elements are NaN
empty_rows_count = data.isna().all(axis=1).sum()
print("Number of completely empty rows:", empty_rows_count)

# Check for rows that are completely empty and drop them
data = data.dropna(how='all', axis=0)
data

Number of completely empty rows: 5

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Subsector,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption
0,ACCOR,EUR,9.656B,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,"40501025, Hotels and Motels",%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh"
1,AIR LIQUIDE,EUR,98.258B,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,"55201020, Specialty Chemicals",30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh
2,AIRBUS SE,EUR,127.257B,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,"50201010, Aerospace",NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh"
3,ARCELORMITTAL SA,EUR,20.331B,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,"55102010, Iron and Steel",15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule"
4,AXA,EUR,77.141B,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,"30302010, Full Line Insurance",35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,77.072B,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,...,"40101020, Automobiles",%,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh"
186,STMICROELECTRONICS,EUR,34.237B,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,...,"10102010, Semiconductors",%,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule"
187,TELECOM ITALIA,EUR,3.357B,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,"15102015, Telecommunications Services",28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh"
189,TERNA,EUR,14.605B,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,"65101015, Conventional Electricity",23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule"
191,UNIPOL,EUR,5.833B,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,"30302010, Full Line Insurance",16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule"

In [106]:
# Helper function to convert Market Cap to numeric
def convert_market_cap(value):
    if pd.isna(value):
        return np.nan
    value = value.strip().upper()
    if value.endswith('B'):
        value =  float(value[:-1]) * 1e9  # Convert billions to a numeric value
    elif value.endswith('M'):
        value =  float(value[:-1]) * 1e6  # Convert millions to a numeric value
    elif value.endswith('K'):
        value =  float(value[:-1]) * 1e3  # Convert thousands to a numeric value
    else:
        value = float(value)  # Handle numeric-only strings as is
    return round(value,3)
    
# Apply conversions
data['Market Cap'] = data['Market Cap'].apply(convert_market_cap)
data

C:\Users\chris\AppData\Local\Temp\ipykernel_20008\3159644454.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Market Cap'] = data['Market Cap'].apply(convert_market_cap)

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Share of women in total workforce,...,Subsector,Share of women in management bodies,Gender pay gap,Professional equality index,Rate of employees with disabilities,Average training hours per employee,Board gender diversity (female board members / total board members),Number of female board members,Number of board members,Total energy consumption
0,ACCOR,EUR,9.656000e+09,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),%,...,"40501025, Hotels and Motels",%,%,unit,%,unit,61.50%,8 unit,13 unit,"13,712 GWh"
1,AIR LIQUIDE,EUR,9.825800e+10,NaN,NaN,NaN,NaN,NaN,NaN,28%,...,"55201020, Specialty Chemicals",30%,NaN,87 unit,4.50%,20 unit,35.70%,5 unit,14 unit,GWh
2,AIRBUS SE,EUR,1.272570e+11,NaN,NaN,NaN,NaN,NaN,NaN,20%,...,"50201010, Aerospace",NaN,NaN,NaN,NaN,15 unit,33.33%,4 unit,12 unit,"3,717 GWh"
3,ARCELORMITTAL SA,EUR,2.033100e+10,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",NaN,...,"55102010, Iron and Steel",15.70%,NaN,NaN,NaN,NaN,30%,3 unit,10 unit,"1,392,000,000 gigajoule"
4,AXA,EUR,7.714100e+10,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),NaN,...,"30302010, Full Line Insurance",35.30%,NaN,NaN,0.70%,NaN,56.30%,9 unit,16 unit,"223,638 MWh"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.707200e+10,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",%,...,"40101020, Automobiles",%,NaN,NaN,NaN,unit,27.27%,3 unit,11 unit,"15,494,891 MWh"
186,STMICROELECTRONICS,EUR,3.423700e+10,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),%,...,"10102010, Semiconductors",%,%,unit,%,unit,44.44%,4 unit,9 unit,"10,363.96 terajoule"
187,TELECOM ITALIA,EUR,3.357000e+09,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),38%,...,"15102015, Telecommunications Services",28%,NaN,NaN,3%,53.75 unit,40%,6 unit,15 unit,"2,671 GWh"
189,TERNA,EUR,1.460500e+10,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),16.08%,...,"65101015, Conventional Electricity",23.70%,19%,NaN,NaN,36 unit,46.15%,6 unit,13 unit,"928,277.4 gigajoule"
191,UNIPOL,EUR,5.833000e+09,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),54.30%,...,"30302010, Full Line Insurance",16.23%,9%,NaN,%,15.72 unit,40%,6 unit,15 unit,"530,790 gigajoule"

In [107]:
def parse_and_convert_tons_currency(value):
    # Beispiel-Wechselkurse zu USD: Google 18. Apr., 13:08 UTC
    exchange_rates = {
    'EUR': 1.07,
    'GBP': 1.25,
    'NOK': 0.091 
    }
    # PrÃ¼ft auf NaN Werte
    if pd.isna(value) or value == '':
        return None
    
    parts = value.split(' ')
    
    if len(parts) < 5:
        return None

    # Extrahiert den Betrag, die Einheit und die WÃ¤hrung
    if parts[0].replace(',', '') == '':
        amount =  0
    else:
        amount = float(parts[0].replace(',', ''))
    
    unit = parts[2]
    currency = parts[4].strip('()')

    # Konvertiert Tausend in Millionen, falls nÃ¶tig
    if unit == 'Thousand':
        amount /= 1000

    # Wandelt den Betrag in USD um, falls er nicht bereits in USD ist
    if currency != 'USD':
        amount *= round(float(exchange_rates.get(currency,1)),3)

    return amount

# Anwendung der Funktion
data['Carbon footprint (total GHG emissions / enterprise value)' + '_in_USD'] = data['Carbon footprint (total GHG emissions / enterprise value)'].apply(parse_and_convert_tons_currency
data = data.drop('Carbon footprint (total GHG emissions / enterprise value)',axis='columns')
data

SyntaxError: '(' was never closed (2254656842.py, line 37)

In [108]:
# Helper function to convert percentage strings to floats
def convert_percentage(value):
    if pd.isna(value) or value.strip('% ') == '':
        return np.nan
    return round(float(value.strip('% ')) / 100,3)

def unit_strip(value):
    if pd.isna(value) or value.strip('unit') == '':
        return np.nan
    elif value.replace('unit', '') == " ":
        return np.nan
    return float(value.replace('unit', ''))

import re
def convert_to_mwh(value):
    conversion_factors = {
    'GWh': 1000,
    'terajoule': 277.778,
    'gigajoule': 0.277778,
    'MWh': 1
    }
    match = re.search(r'([\d,]+(?:\.\d+)?)\s*(GWh|MWh|terajoule|gigajoule)', str(value).replace(',', ''))
    if match:
        # Convert string value to float
        value = float(match.group(1).replace(',', ''))
        unit = match.group(2)
        return round(value * conversion_factors[unit],3) # Convert the value to MWh

# Apply conversions
data['Share of women in total workforce in %'] = data['Share of women in total workforce'].apply(convert_percentage)
data = data.drop("Share of women in total workforce",axis='columns')
data['Share of women in management bodies in %'] = data['Share of women in management bodies'].apply(convert_percentage)
data = data.drop('Share of women in management bodies',axis='columns')
data['Gender pay gap in %'] = data['Gender pay gap'].apply(convert_percentage)
data = data.drop('Gender pay gap',axis='columns')
data['Rate of employees with disabilities in %'] = data['Rate of employees with disabilities'].apply(convert_percentage)
data = data.drop('Rate of employees with disabilities',axis='columns')
data['Board gender diversity (female board members / total board members) in %'] = data['Board gender diversity (female board members / total board members)'].apply(convert_percentage)
data = data.drop('Board gender diversity (female board members / total board members)',axis='columns')
data['Professional equality index'] = data['Professional equality index'].apply(unit_strip)
data['Number of female board members'] = data['Number of female board members'].apply(unit_strip)
data['Number of board members'] = data['Number of board members'].apply(unit_strip)
data['Average training hours per employee'] = data['Average training hours per employee'].apply(unit_strip)
data['Total energy consumption in mwh'] = data['Total energy consumption'].apply(convert_to_mwh)
data = data.drop('Total energy consumption', axis='columns')
data['Rate of resignation in %'] = data['Rate of resignation'].apply(convert_percentage)
data = data.drop('Rate of resignation', axis='columns')
data

# Transformed data
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187 entries, 0 to 191
Data columns (total 28 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Name                                                                      187 non-null    object
 1   Currency                                                                  181 non-null    object
 2   Market Cap                                                                181 non-null    float64
 3   CDP                                                                       19 non-null     object
 4   FTSE4Good                                                                 4 non-null      object
 5   MSCI ESG Ratings                                                          4 non-null      object
 6   Moody's ESG Solution                                                      2 non-null      object
 7   Sustainalytics                                                            27 non-null     object
 8   Carbon footprint (total GHG emissions / enterprise value)                 119 non-null    object
 9   Type                                                                      187 non-null    object
 10  Sub type                                                                  187 non-null    object
 11  Market                                                                    187 non-null    object
 12  ISIN Code                                                                 187 non-null    object
 13  Industry                                                                  187 non-null    object
 14  SuperSector                                                               187 non-null    object
 15  Sector                                                                    187 non-null    object
 16  Subsector                                                                 187 non-null    object
 17  Professional equality index                                               21 non-null     float64
 18  Average training hours per employee                                       106 non-null    float64
 19  Number of female board members                                            168 non-null    float64
 20  Number of board members                                                   168 non-null    float64
 21  Share of women in total workforce in %                                    144 non-null    float64
 22  Share of women in management bodies in %                                  125 non-null    float64
 23  Gender pay gap in %                                                       47 non-null     float64
 24  Rate of employees with disabilities in %                                  50 non-null     float64
 25  Board gender diversity (female board members / total board members) in %  168 non-null    float64
 26  Total energy consumption in mwh                                           124 non-null    float64
 27  Rate of resignation in %                                                  51 non-null     float64
dtypes: float64(12), object(16)
memory usage: 42.4+ KB

C:\Users\chris\AppData\Local\Temp\ipykernel_20008\1852073730.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Share of women in total workforce in %'] = data['Share of women in total workforce'].apply(convert_percentage)

In [109]:
data

,Name,Currency,Market Cap,CDP,FTSE4Good,MSCI ESG Ratings,Moody's ESG Solution,Sustainalytics,Carbon footprint (total GHG emissions / enterprise value),Type,...,Average training hours per employee,Number of female board members,Number of board members,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Total energy consumption in mwh,Rate of resignation in %
0,ACCOR,EUR,9.656000e+09,NaN,NaN,NaN,NaN,NaN,535.17 Ton / Million (EUR),Stock,...,NaN,8.0,13.0,NaN,NaN,NaN,NaN,0.615,1.371200e+07,NaN
1,AIR LIQUIDE,EUR,9.825800e+10,NaN,NaN,NaN,NaN,NaN,NaN,Stock,...,20.00,5.0,14.0,0.280,0.300,NaN,0.045,0.357,NaN,0.086
2,AIRBUS SE,EUR,1.272570e+11,NaN,NaN,NaN,NaN,NaN,NaN,Stock,...,15.00,4.0,12.0,0.200,NaN,NaN,NaN,0.333,3.717000e+06,NaN
3,ARCELORMITTAL SA,EUR,2.033100e+10,NaN,NaN,NaN,NaN,NaN,"3,373.201 Ton / Million (USD)",Stock,...,NaN,3.0,10.0,NaN,0.157,NaN,NaN,0.300,3.866670e+08,NaN
4,AXA,EUR,7.714100e+10,NaN,NaN,NaN,NaN,NaN,2.54 Ton / Million (EUR),Stock,...,NaN,9.0,16.0,NaN,0.353,NaN,0.007,0.563,2.236380e+05,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.707200e+10,NaN,NaN,NaN,NaN,NaN,"6,409.5742 Ton / Million (EUR)",Stock,...,NaN,3.0,11.0,NaN,NaN,NaN,NaN,0.273,1.549489e+07,NaN
186,STMICROELECTRONICS,EUR,3.423700e+10,NaN,NaN,NaN,NaN,NaN,27.9849 Ton / Million (USD),Stock,...,NaN,4.0,9.0,NaN,NaN,NaN,NaN,0.444,2.878880e+06,NaN
187,TELECOM ITALIA,EUR,3.357000e+09,NaN,NaN,NaN,NaN,NaN,124.89 Ton / Million (EUR),Stock,...,53.75,6.0,15.0,0.380,0.280,NaN,0.030,0.400,2.671000e+06,NaN
189,TERNA,EUR,1.460500e+10,NaN,NaN,NaN,NaN,NaN,132.1212 Ton / Million (EUR),Stock,...,36.00,6.0,13.0,0.161,0.237,0.19,NaN,0.461,2.578550e+05,0.018
191,UNIPOL,EUR,5.833000e+09,NaN,NaN,NaN,NaN,NaN,476.3635 Ton / Million (EUR),Stock,...,15.72,6.0,15.0,0.543,0.162,0.09,NaN,0.400,1.474418e+05,0.027

In [110]:
# Calculate the percentage of missing values per column
missing_data = data.isnull().mean() * 100.00

# Display the percentage of missing data per column
missing_data_sorted = missing_data.sort_values(ascending=False)
missing_data_sorted

Moody's ESG Solution                                                        98.930481
FTSE4Good                                                                   97.860963
MSCI ESG Ratings                                                            97.860963
CDP                                                                         89.839572
Professional equality index                                                 88.770053
Sustainalytics                                                              85.561497
Gender pay gap in %                                                         74.866310
Rate of employees with disabilities in %                                    73.262032
Rate of resignation in %                                                    72.727273
Average training hours per employee                                         43.315508
Carbon footprint (total GHG emissions / enterprise value)                   36.363636
Total energy consumption in mwh                                             33.689840
Share of women in management bodies in %                                    33.155080
Share of women in total workforce in %                                      22.994652
Board gender diversity (female board members / total board members) in %    10.160428
Number of female board members                                              10.160428
Number of board members                                                     10.160428
Currency                                                                     3.208556
Market Cap                                                                   3.208556
Name                                                                         0.000000
Subsector                                                                    0.000000
Sector                                                                       0.000000
Industry                                                                     0.000000
ISIN Code                                                                    0.000000
Market                                                                       0.000000
Sub type                                                                     0.000000
Type                                                                         0.000000
SuperSector                                                                  0.000000
dtype: float64

In [111]:
# Finden der Spalten, bei denen der Prozentsatz der fehlenden Daten grÃ¶Ãer als 80% ist
columns_to_drop = missing_data[missing_data > 80].index
# LÃ¶schen dieser Spalten aus dem DataFrame
data.drop(columns=columns_to_drop, inplace=True)
data

,Name,Currency,Market Cap,Carbon footprint (total GHG emissions / enterprise value),Type,Sub type,Market,ISIN Code,Industry,SuperSector,...,Average training hours per employee,Number of female board members,Number of board members,Share of women in total workforce in %,Share of women in management bodies in %,Gender pay gap in %,Rate of employees with disabilities in %,Board gender diversity (female board members / total board members) in %,Total energy consumption in mwh,Rate of resignation in %
0,ACCOR,EUR,9.656000e+09,535.17 Ton / Million (EUR),Stock,Ordinary Shares,Euronext Paris,FR0000120404,"40, Consumer Discretionary","4050, Travel and Leisure",...,NaN,8.0,13.0,NaN,NaN,NaN,NaN,0.615,1.371200e+07,NaN
1,AIR LIQUIDE,EUR,9.825800e+10,NaN,Stock,Ordinary Shares,Euronext Paris,FR0000120073,"55, Basic Materials","5520, Chemicals",...,20.00,5.0,14.0,0.280,0.300,NaN,0.045,0.357,NaN,0.086
2,AIRBUS SE,EUR,1.272570e+11,NaN,Stock,Ordinary Shares,Euronext Paris,NL0000235190,"50, Industrials","5020, Industrial Goods and Services",...,15.00,4.0,12.0,0.200,NaN,NaN,NaN,0.333,3.717000e+06,NaN
3,ARCELORMITTAL SA,EUR,2.033100e+10,"3,373.201 Ton / Million (USD)",Stock,Ordinary Shares,Euronext Amsterdam,LU1598757687,"55, Basic Materials","5510, Basic Resources",...,NaN,3.0,10.0,NaN,0.157,NaN,NaN,0.300,3.866670e+08,NaN
4,AXA,EUR,7.714100e+10,2.54 Ton / Million (EUR),Stock,Ordinary Shares,Euronext Paris,FR0000120628,"30, Financials","3030, Insurance",...,NaN,9.0,16.0,NaN,0.353,NaN,0.007,0.563,2.236380e+05,0.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,STELLANTIS,EUR,7.707200e+10,"6,409.5742 Ton / Million (EUR)",Stock,Ordinary Shares,Euronext Milan,NL00150001Q9,"40, Consumer Discretionary","4010, Automobiles and Parts",...,NaN,3.0,11.0,NaN,NaN,NaN,NaN,0.273,1.549489e+07,NaN
186,STMICROELECTRONICS,EUR,3.423700e+10,27.9849 Ton / Million (USD),Stock,Ordinary Shares,Euronext Milan,NL0000226223,"10, Technology","1010, Technology",...,NaN,4.0,9.0,NaN,NaN,NaN,NaN,0.444,2.878880e+06,NaN
187,TELECOM ITALIA,EUR,3.357000e+09,124.89 Ton / Million (EUR),Stock,Ordinary Shares,Euronext Milan,IT0003497168,"15, Telecommunications","1510, Telecommunications",...,53.75,6.0,15.0,0.380,0.280,NaN,0.030,0.400,2.671000e+06,NaN
189,TERNA,EUR,1.460500e+10,132.1212 Ton / Million (EUR),Stock,Ordinary Shares,Euronext Milan,IT0003242622,"65, Utilities","6510, Utilities",...,36.00,6.0,13.0,0.161,0.237,0.19,NaN,0.461,2.578550e+05,0.018
191,UNIPOL,EUR,5.833000e+09,476.3635 Ton / Million (EUR),Stock,Ordinary Shares,Euronext Milan,IT0004810054,"30, Financials","3030, Insurance",...,15.72,6.0,15.0,0.543,0.162,0.09,NaN,0.400,1.474418e+05,0.027

In [112]:
columns_to_drop

Index(['CDP', 'FTSE4Good', 'MSCI ESG Ratings', 'Moody's ESG Solution',
       'Sustainalytics', 'Professional equality index'],
      dtype='object')

In [113]:
#Save DataFrame to a CSV file with semicolon as the delimiter with the required _stage2.csv ending form project
data.to_csv('C:/Users/chris/switchdrive/SyncVM/CIP/hslu-cip/data/clean_data/scraped_shares_data2_stage3.csv', sep=';', index=False)